
.content {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  color: rgb(73, 73, 73);
  align-items: first baseline;
  background-image: url(src\assets\images\corazon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}


.form{
  background-color: rgba(101, 171, 232, 0.286);
  padding: 10px;
  color: rgb(40, 40, 40);
  border: 2px solid #ff728bff;
  border-radius: 5px;
  box-shadow: 0 5px 7px #7e607eff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

}
.mensaje{
  margin-top: 20px;
  color: aliceblue;
  padding: 10px;
  font-weight: bold;
  background-color: #ff728bff;
  border-radius: 10px;
  }

@media screen and (max-width: 767px) {
 .content {
  background-image: url(src\assets\images\perro4.png);
  background-position:left;
  background-size:cover;
 }
}
