


<div class="content">
<h2>Quienes somos</h2>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae suscipit autem maxime illo tenetur dicta est dolorem, unde aspernatur id, quam quibusdam doloribus, molestiae earum fugit ad rerum sint. Consequuntur.</span>

<h2 class="title">Nos encontramos situados en ...</h2>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24304.9247644675!2d-77.27906483689907!3d25.103598425586274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7d7a5c440b8b%3A0xe4927c1011818287!2sIsla%20Blue%20Lagoon!5e0!3m2!1ses!2ses!4v1688165352600!5m2!1ses!2ses" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
