

.nav-item{
  display: flex;
  padding: 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

.navbar-toggler-icon {
  border-radius: 5px;
}


.link-info:hover svg {
  fill: #af86d4ff;
}


@media screen and (max-width: 767px) {

.nav-item{
  display: flex;
  margin-left:2px;
  padding: 10px;
  font-size: 20px;
}

}
