.content {
  display: flex;
  margin: 100px auto 10px;
  padding: 180px 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: first baseline;
  color: rgb(101, 171, 232);
  background-image: url(src\assets\images\perro3.png);
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Indie Flower", cursive;

}
h3{
padding: 30px;
}

@media screen and (max-width: 767px) {
 .content {
  background-image: url(src\assets\images\perro3.png);
  background-position: l;
  background-color: rgba(255, 255, 255, 0.846);
  }

}
