


<div class="content">
  <img src="https://cdn-icons-png.flaticon.com/512/3843/3843277.png" alt="perro corazon"
  width=200 height=auto />
<h1>Quienes somos</h1>
<p><strong>Somos una organización dedicada al cuidado y protección de animales en situación de abandono y maltrato.<br>
  Nuestro objetivo principal es garantizar el bienestar y la calidad de vida de cada animal que llega a nuestras instalaciones.<br>
  Trabajamos incansablemente para brindarles atención médica, alimentación adecuada, cariño y buscarles un buen hogar.</strong></p>
  <h3>Nuestros servicios</h3>
  <p><strong>Rescate y acogida:</strong> Recibimos a animales en situación de peligro, maltrato o abandono, brindándoles un lugar seguro y confortable.<br>
    <strong>Atención veterinaria:</strong> Contamos con un equipo médico dedicado a proporcionar atención veterinaria de calidad, incluyendo vacunas, esterilización, tratamientos y cuidados especiales.<br>
    <strong> Programas de adopción:</strong> Trabajamos arduamente para encontrar hogares responsables y amorosos para nuestros animales, promoviendo la adopción como la mejor opción.<br>
   <strong>Educación y concienciación:</strong> Realizamos actividades de sensibilización y educación para fomentar el respeto y cuidado hacia los animales.</p>
    <h3>Cómo puedes ayudar</h3>
    <p> <strong>Adopta:</strong> Si estás buscando un nuevo miembro para tu familia, considera adoptar uno de nuestros animales. Les darás una segunda oportunidad y recibirás amor incondicional.<br>
      <strong>Apadrina:</strong> Conviértete en padrino o madrina de uno de nuestros animales. Tu contribución ayudará a cubrir sus necesidades básicas y brindarles una vida digna.<br>
        <strong>Voluntariado:</strong> Únete a nuestro equipo de voluntarios y colabora en tareas como paseos, limpieza de instalaciones, socialización de los animales y más.<br>
          <strong>Donaciones:</strong> Tu generosidad nos permite seguir brindando atención y cuidados a los animales. Puedes realizar donaciones en efectivo, alimentos, medicamentos u otros recursos.</p>

<div class="direccion">
<span>Nos encontramos situados en la calle Wallaby 42  Sydney </span>
<p><strong>telefono de contacto +61 9787541289 Dory</strong></p></div>
<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3313.156790937995!2d151.21085475453344!3d-33.859849909582245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDUxJzM1LjUiUyAxNTHCsDEyJzU2LjEiRQ!5e0!3m2!1ses!2ses!4v1688304160535!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
