
.content {
  display: flex;

}
.direccion{
margin-top:70px;
}

@media screen and (max-width: 767px) {
  .direccion{
    margin-top:20px;
    }
    span{
      font-size: 15px;
    }
    p{
      font-size: 15px;
    }
.mapa{
  width:100%;
  height: auto;
  margin-top:20px;
  font-size: 10px;
  }}
