.titulos {
  height: 600px;
  text-align: center;
  padding: 30px;
  background-image: url(src\assets\cute-chihuahua-puppy-peeking-cartoon-illustration-vector.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h3 {
  text-decoration-line: underline;
  padding: 20px;
  font-size: 40px;
}

.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: #000000;
}
.form-control {
  margin-left: 20px;
  width: 15%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: auto;
  margin: 10px;
  background-color: rgba(200, 225, 234, 0.46);
  border: 1px solid #ff728bff;
  border-radius: 5px;
  box-shadow: 0 5px 7px #7e607eff;
}
.card:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 5px 10px #ff728bff;
}

.foto {
  width: 100%;
  height: auto;
  border: 1px solid #ff728bff;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .titulos {
    background-size: cover;
    background-position: center;
    padding: 10px;
  }
  .titulos h3,
  .titulos p {
    font-size: 17px;
    font-weight: bold;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: auto;
    margin: 5px;
    background-color: rgba(200, 225, 234, 0.46);
    border: 1px solid #ff728bff;
    border-radius: 5px;
    box-shadow: 0 5px 7px;
  }
  .search {
    font-size: 15px;
  }
  .form-control {
    width: 50%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  p {
    margin-top: 10px;
    font-size: 15px;
    color: #7e607eff;
  }
}
