


<div class="content">
  <h3>Registro</h3>
  <form class="form" (ngSubmit)="register()">
    <div class="mb-3">
      <label for="userName" class="form-label">Nombre:</label>
      <input type="text" id="userName" class="form-control" name="userName" required>
    </div>
    <div class="mb-3">
      <label for="userLastname" class="form-label" >Apellido:</label>
      <input type="text" id="userLastname" class="form-control" [(ngModel)]="userLastname" name="userLastname" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password" class="form-label" >Contraseña:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Repetir contraseña:</label>
      <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="button" class="btn btn-outline-info">Registro</button>
  </form>
  <div *ngIf="errorPasswords">
    <p>La contraseña no coincide</p>
  </div>

  <div *ngIf="registrado">
    <p>Usuario registrado con éxito. Gracias! {{pivoteName}}</p>
  </div>
</div>

